modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "VAI DApp Server"

[[workflows.workflow]]
name = "VAI DApp Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx next dev -p 5000"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "pnpm install && pnpm dev -p 5000"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33619
externalPort = 3002

[[ports]]
localPort = 33941
externalPort = 3001

[[ports]]
localPort = 34785
externalPort = 8080

[[ports]]
localPort = 35071
externalPort = 8008

[[ports]]
localPort = 35629
externalPort = 9000

[[ports]]
localPort = 35761
externalPort = 6800

[[ports]]
localPort = 36555
externalPort = 8099

[[ports]]
localPort = 36913
externalPort = 8000

[[ports]]
localPort = 39549
externalPort = 8081

[[ports]]
localPort = 39947
externalPort = 6000

[[ports]]
localPort = 42241
externalPort = 5173

[[ports]]
localPort = 43857
externalPort = 3000

[[ports]]
localPort = 44445
externalPort = 3003

[[ports]]
localPort = 44505
externalPort = 5000

[[ports]]
localPort = 46545
externalPort = 4200
